.Comp_Render{
  width:100%;
  height:120%;
  background: url("https://resi.ze-robot.com/dl/4k/4k-desktop-wallpaper.-1920%C3%971200.jpg");
  background-size: contain;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  overflow-x: hidden;
}


.blog-card {
  position: absolute;
  top:100px;
  left:-70px;
  transform:scale(.75);
  margin: 10px;
  overflow:hidden;
  width: 700px;
  height: 250px;
}

.meta {
  position: relative;
  z-index: 0;
  height: 200px;
  width: 700px;
}

.photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
  height: 250px;
  width: 250px;
}

.description {
  padding: 1rem;
  background:radial-gradient(rgb(170, 170, 170), rgb(187, 187, 187),rgb(204, 204, 204),rgb(221, 221, 221),rgb(221, 221, 221));
  position: relative;
  z-index: 1;
  width: 490px;
  height:450px;
  float: right;
  overflow:hidden;
}

.description h1,
.description h2 {
  font-family: Poppins, sans-serif;
}
.description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.4rem;
  color: rgb(246, 170, 28);
  background-color: rgb(89, 89, 89);
}
.description h2 {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(216, 17, 89);
  margin-top: 5px;
}

.description .read-more {
  text-align: right;
}

.read-more a {
  color: aqua;
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  margin-left: -10px;
}

.news_info_data {
  position: relative;
  margin: 1rem 0 0;
  font-size: 17px;
}

/* Alternative card */
.alt{
  position:absolute;
  top:240px;
  left:-70px;
  margin-top: 90px;
  overflow:hidden;
}

.alt .description {
  float: left;
  overflow:hidden;
}

.alt_photo {
  position: absolute;
  top: 0;
  left: 450px;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
  height: 200px;
  width: 250px;
}


.card_1{
  position: absolute;
  top:100px;
  left:480px;
  transform:scale(.75);
  overflow:hidden;
  
}

.alt_1{
  position:absolute;
  top:300px;
  left:480px;
  margin-top: 30px;
  transform:scale(.75);
  overflow:hidden;
  
}

.alt_1 .description {
  float: left;
}

.alt_photo{
  position: absolute;
  top: 0;
  left: 450px;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
  height: 250px;
  width: 250px;
}

.NewsCard_btn{
  position:absolute;
  top: 200px;
  left:50px;
  font-size: 20px;
  background-color:orange;
  border: 3px solid black;
  padding: 5px;
}

.NewsCard_btn a{
  text-decoration: none;
  color: white;
}