* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /*background-image: url('https://res.cloudinary.com/ddsomtotk/image/upload/v1618696175/NewsImage_i545w3.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;  */
  /*background-size: cover;*/
  /*background-size: 100% 100%;*/
  /*z-index:-1;*/
}


ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h4 {
  letter-spacing: 0.25;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

p {
  margin-bottom: 1.25rem;
  color: silver;
}

button{
  margin: 10px;
}

.section-center {
  /*background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-5IHnkY2CzgHJ2toYlDPtlOWMIDkXqBTk1w&usqp=CAU');*/
  object-fit: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.News-card {
  transition: all 0.3s linear;
  background-color: hsl(211, 39%, 23%);
  margin: 20px;
  flex: 0 20%;
  border: 4px solid black;
}

.News-card:hover {
  transform: scale(1.05);
  border: 4px solid gold;
  cursor: pointer;
}

.News-card:hover h4 {
  text-decoration: underline;
}

.News-img-container:hover p {
  opacity: 1;
  transition: all 0.3s linear;
  color: gold;
}

.News-img-container {
  position: relative;
}

.News-img {
  height: 15rem;
  object-fit: cover;
}

.News-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: hsl(211, 39%, 23%);
  margin-bottom: 0;
  color: white;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  opacity: 0.5;
}

.News-info {
  padding: 1.25rem 1.5rem;
  color: gold;
}

.News-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  float:right;
  align-items: center;
}

.News-footer p {
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: white;
}





